<%= simple_form_for @message, url: user_messages_path(current_user.id), method: :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, autofocus: true, input_html: {id: 'textarea'} %>
    <%= f.hidden_field :recipient, :value => recipient %>
    <div id="textarea_feedback" class="pull-right"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send" %>
  </div>
<% end %>


<script>
	$(document).ready(function() {
	    var text_max = 60;
	    $('#textarea_feedback').html(text_max + ' characters remaining');

	    $('#textarea').keyup(function() {
	        var text_length = $('#textarea').val().length;
	        var text_remaining = text_max - text_length;

	        $('#textarea_feedback').html(text_remaining + ' characters remaining');
	    });
	});
</script
